.cart-page {
    max-width: 300px;
    margin: 0 auto;
}

.cart_box {
    display: grid;
    grid-template-rows: 300px auto 55px;
    margin: .8rem 0 0 0;
    border: 2px solid var(--nav);
    border-radius: 15px;
}

.cart_image-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px 15px 0 0;
}

.cart_image {
    width: 100%;
    max-height: 100%;
    border-radius: 15px 15px 0 0;
}

.cart_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart_name {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.cart_name:hover {
    color: blue;
}

.cart_name,
.cart_price,
.cart_qty {
    margin: .5rem .2rem;
}

.cart_remove-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em;
    font-size: 3rem;
    background: var(--remove);
    color: white;
    border-radius: 0 0 10px 10px;
}

.cart_remove-item:hover {
    background: var(--remove-hover);
}

.cart_total {
    font-size: 1.2rem;
    margin: .5rem;
}

@media only screen and (min-width: 768px) {
    .cart-page {
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 500px);
        gap: .2rem 5rem;
        justify-content: center;
    }

    .cart_box {
        width: 100%;
        grid-template-columns: 300px 200px;
        grid-template-rows: 250px 50px;
    }

    .cart_image-container {
        grid-row: 1/3;
        border-radius: 15px 0 0 15px;
    }

    .cart_image {
        border-radius: 15px 0 0 15px;
    }

    .cart_info {
        display: grid;
        grid-template-rows: 1fr 40px 40px;
        margin: .5rem;
    }

    .cart_name {
        display: block;
    }

    .cart_remove-item {
        border-radius: 0 0 15px 0;
    }

    .cart_total {
        grid-column: 1/3;
    }
}