/* Header Styles */

header {
    display: grid;
    grid-template-columns: 100px 1fr 60px;
    align-items: center;
    background: var(--bg-color);
}

.logo {
    border: 3px solid black;
    border-radius: 50%;
}

.logo img {
    display: block;
}

header h1 {
    width: fit-content;
    margin: 0 2rem;
    padding: .5rem;
    font-size: 1.1rem;
    color: white;
    background-color: #b24cd49f;
    text-shadow: 0 0 5px black, 1px 1px 10px black;
    box-shadow: 0 0 5px 5px white,
        0 0 10px 10px #b24cd4,
        0 0 15px 15px var(--main-header);
    border-radius: 20px;
}

.cart-icon {
    text-align: right;
    padding: 0 5px;
    font-size: 2rem;
}

.cart-length {
    margin: 0;
    padding: 5px 9px;
    font-size: 1rem;
    position: absolute;
    background: var(--link-bg);
    color: white;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50px) translateX(22px);

}

.cart-icon:hover .cart-length {
    background: var(--link-hover);
}

@media only screen and (min-width: 768px) {
    header {
        grid-template-columns: 150px 1fr 100px;
        border-radius: 10px 10px 0 0;
    }

    header h1 {
        margin: 0 8rem;
        font-size: 2em;
        border-radius: 30px;
        padding: .8rem;
    }

    .cart-icon {
        padding: 0 20px;
    }

    .cart-length {
        transform: translateY(-50px) translateX(35px);
    }
}