/* Main Styles */

#hero {
    background-image: url("../images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5rem 0;
}

#hero h1 {
    width: 80%;
    margin: 0 auto 20rem;
    font-size: 1.5rem;
}

#hero h2 {
    width: 90%;
    margin: 0 auto;
}

#hero h1,
#hero h2 {
    padding: .8rem;
    background-color: #b24cd49f;
    text-shadow: 0 0 5px black, 1px 1px 10px black;
    box-shadow: 0 0 5px 5px white,
        0 0 10px 10px #b24cd4,
        0 0 15px 15px var(--main-header);
    border-radius: 30px;
}

#product-grid a {
    display: block;
    width: 60%;
    margin: 0 auto .8rem;
}

@media only screen and (min-width: 768px) {


    #hero h1 {
        width: 40%;
        font-size: 2.1rem;
    }

    #hero h2 {
        width: 60%;
    }

    #product-grid {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: .5rem;
        justify-content: center;
    }

    #product-grid a {
        width: 100%;
    }
}