/* Main Styles */

main {
    padding: 1rem 0 1rem;
    background: var(--bg-color);
}

#hero {
    background-image: url("../images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

#hero h2 {
    width: fit-content;
    margin: 15rem auto 0;
}

#hero h1,
#hero h2 {
    padding: .8rem;
    background-color: #b24cd49f;
    text-shadow: 0 0 5px black, 1px 1px 10px black;
    box-shadow: 0 0 5px 5px white,
        0 0 10px 10px #b24cd4,
        0 0 15px 15px var(--main-header);
    border-radius: 30px;
}

#product-grid a {
    display: block;
    width: 60%;
    margin: .8rem auto 0;
}

#product-grid a img {
    display: block;
}

@media only screen and (min-width: 768px) {

    #hero h2 {
        width: 60%;
        margin: 30rem auto 0;
    }

    #product-grid {
        margin: 0 auto;
        max-width: 96%;
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 300px));
        gap: .5rem;
        justify-content: center;
    }

    #product-grid a {
        width: 100%;
        transition: .3s ease-in-out;
    }

    #product-grid a:hover {
        transform: scale(1.2);
        opacity: .8;
    }
}