/* Product List Styles */

.product-category {
    text-align: center;
}

.product-list {
    max-width: 75%;
    margin: 0 auto;
}

.product-box {
    width: 250px;
    display: grid;
    grid-template-rows: 250px 130px 40px;
    margin: .8rem 0 0 0;
    border: 2px solid var(--nav);
    border-radius: 15px;
}

.product-list_image-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px 15px 0 0;
}

.product-list_image {
    width: 100%;

    border-radius: 15px 15px 0 0;
}

.product-list_name {
    color: black;
}

.product-list_name:hover {
    color: blue;
}

.product-list_btn {
    display: block;
    text-align: center;
    margin: .6rem 0 0 0;
    padding: 0.5em;
    background: var(--link-bg);
    color: white;
    border-radius: 0 0 10px 10px;
}

.product-list_btn:hover {
    background: var(--link-hover);
}

@media only screen and (min-width: 768px) {
    
    .product-list {
        max-width: 98%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: center;
        gap: .8rem;
    }

}