/* Product List Styles */

.search_wrapper button,
.sort_wrapper button {
    cursor: pointer;
}

.search-btn,
.sort-dir {
    background-color: var(--link-bg);
    color: var(--bg-color);
    width: 25px;
    aspect-ratio: 1/1;
    padding: 4px 6px 1px 5px;
    border-radius: 7px;
    font-size: 1rem;
    border: none;
}
.search-btn {
    padding: 0px 0px 3px 0px;
}

.search-btn:hover,
.sort-dir:hover {
    background-color: var(--link-hover);
    color: var(--bg-color);
}

.product-list,
.filters {
    max-width: 300px;
    margin: 0 auto;
}

.product-box {
    display: grid;
    grid-template-rows: 300px auto 40px;
    margin: .8rem 0 0 0;
    border: 2px solid var(--nav);
    border-radius: 15px;
}

.product-list_image-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px 15px 0 0;
}

.product-list_image {
    width: 100%;
    max-height: 100%;
    border-radius: 15px 15px 0 0;
}

.product-list_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-list_name {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-break: break-all; */
    color: black;
}

.product-list_name:hover {
    color: blue;
}

.product-list_name,
.product-list_price {
    margin: .5rem .2rem;
}

.product-list_btn {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background: var(--link-bg);
    color: var(--bg-color);
    border-radius: 0 0 10px 10px;
}

.product-list_btn:hover {
    background: var(--link-hover);
}

@media only screen and (min-width: 768px) {

    .filters {
        max-width: 98%;
        margin: 0 1.6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sort_wrapper {
        text-align: right;
    }

    .product-list {
        max-width: 98%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        gap: .8rem;
    }

    .page-header {
        margin-top: 0;
    }

}