.product-page {
    display: grid;
}

.product-page_image-container {
    display: flex;
    align-items: center;
    background: white;
    margin: 0 .5rem;
    padding: .5rem;
    border-radius: 15px;
}

.product-page_image {
    border-radius: 15px;
}

.product-page_info {
    margin: .2rem .5rem;
}

.product-page_name {
    display: none;
}

.product-page_price {
    font-size: 1.2rem;
}

.product-page_info a {
    display: block;
    margin: .5rem 0;
    padding: .7rem 0;
    text-align: center;
    color: white;
    background: var(--link-bg);
    border-radius: 10px;
}

.product-page_info a:hover {
    background: var(--link-hover);
}

.product-page_desc {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
    .product-page {
        margin-inline: auto;
        max-width: 1200px;
        grid-template-columns: 2fr 1fr;
    }

}