@import url("header.css");
@import url("nav.css");
@import url("main.css");
@import url("product-list.css");
@import url("product-page.css");
@import url("cart.css");
@import url("checkout.css");
@import url("footer.css");

:root {
    --nav: #041e9f;
    --nav-hover: #293df2;
    --sub-nav: #0d0158;
    --nav-active: #016cd6;
    --main-header: #7506cf;

    --bg-color: #e7e7ff;
    --bg-color-dm: #020257;

    --link-bg: var(--nav);
    --link-hover: var(--nav-hover);

    --remove: #ff0000;
    --remove-hover: #c20000;
    --checkout: #00e600;
    --checkout-hover: #017101;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    background-color: #000;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.page-header {
    text-align: center;
}

.dark-mode>header,
.dark-mode>main {
    background: var(--bg-color-dm);
}

.dark-mode *:not(.cart_checkout):not(button) {
    color: var(--bg-color);
}

.dark-mode button {
    background: var(--bg-color);
    color: var(--bg-color-dm);
}

.dark-mode button:hover {
    color: var(--bg-color);
}

@media only screen and (min-width: 750px) {
    body {
        max-width: 1300px;
        margin: 15px auto;
        border: 4px solid var(--nav);
        border-radius: 10px;
    }
}