@import url("header.css");
@import url("nav.css");
@import url("main.css");
@import url("product-list.css");
@import url("product-page.css");
@import url("cart.css");
@import url("footer.css");

:root {
    --nav: #041e9f;
    --nav-hover: #293df2;
    --sub-nav: #0d0158;
    --nav-active: #016cd6;
    --main-header: #7506cf;
    --bg-color: #e7e7ff;

    --link-bg: var(--nav);
    --link-hover: var(--nav-hover);
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    background-color: #000;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 750px) {
    body {
        max-width: 1300px;
        margin: 15px auto;
        border: 4px solid var(--nav);
        border-radius: 10px;
    }
}