@import url("header.css");
@import url("nav.css");
@import url("main.css");
@import url("product-list.css");
@import url("product-page.css");
@import url("cart.css");
@import url("checkout.css");
@import url("footer.css");

:root {
    --nav: #041e9f;
    --nav-hover: #293df2;
    --sub-nav: #0d0158;
    --nav-active: #016cd6;
    --main-header: #7506cf;

    --bg-color: #e7e7ff;
    --bg-color-dm: #020257;

    --link-bg: var(--nav);
    --link-hover: var(--nav-hover);

    --remove: #ff0000;
    --remove-hover: #c20000;
    --checkout: #00e600;
    --checkout-hover: #017101;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    background-color: #000;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button, input {
    font-family: 'Orbitron', sans-serif;
}

.page-header {
    text-align: center;
}

.dark-mode>header,
.dark-mode>main {
    background: var(--bg-color-dm);
}

.dark-mode fieldset {
    background: var(--nav);
}

.dark-mode *:not(.cart_checkout):not(button):not(input):not(textarea) {
    color: var(--bg-color);
}

.dark-mode button {
    background: var(--bg-color);
    color: var(--bg-color-dm);
}

.dark-mode button:hover {
    color: var(--bg-color);
}

.dark-mode .alert {
    background: var(--bg-color-dm);
}

.alert-wrapper {
    position: absolute;
    top: 179px;
    left: 0;
    width: 100%;
    height: calc(100% - 126px);
    backdrop-filter: blur(4px);
}

.alert {
    position: absolute;
    top: 90px;
    left: .5rem;
    right: .5rem;
    background-color: var(--bg-color);
    border: 2px solid var(--nav);
    border-radius: 15px;
    padding: .5rem .5rem
}

.alert * {
    margin: 0;
}

.alert h2 {
    text-align: center;
}

.alert h3 {
    margin: .5rem 0 .8rem;
}

.alert p {
    margin: 0 0 .5rem;
}

.alert a {
    display: block;
    width: 98%;
    margin: 0 auto;
    padding: .3rem 0;
    text-align: center;
    background: var(--link-bg);
    color: var(--bg-color);
    border-radius: 10px;
}

.alert a:hover {
    background: var(--link-hover);
}

@media only screen and (min-width: 750px) {
    body {
        max-width: 1300px;
        margin: 15px auto;
        border: 4px solid var(--nav);
        border-radius: 10px;
    }
    
    .alert-wrapper {
        top: 218px;
        height: calc(100% - 450px);
    }

    .alert {
        top: 80px;
        left: calc(50% - 233px);
        width: 466px;
    }
}